<div class="col-md-3"></div>
<div class="col-md-6">
<div class="logo">
  <%= image_tag("pt.png", class: "img-responsive", ) %>
<div>
<%= form_tag (sign_up_path()), class: 'sign_up_form' do %>
<div class="form-group">
    <label for="name">First name</label>
    <input type="text" class="form-control" id="name" placeholder="First name" name="user[name]">
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" placeholder="Surname" name="user[surname]">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email" name="user[email]">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" name="user[username]">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="user[password]">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" class="form-control" id="password_confirmation" placeholder="Re-type password" name="user[password_confirmation]">
  </div>
  <button type="submit" class="btn btn-default">Sign up</button>
  <button type="reset" class="btn btn-default">Reset</button>
  <%= link_to "Back to login", root_path %>
<% end %>
</div>
<div class="col-md-3"></div>
