.gray {
	color: gray;
}

html {
}

body {
	margin-bottom: 30px;
	background: image-url('lightback.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: scroll;
}

.logo .img-responsive {
	margin-left: 20%;
	margin-top: 8%;
}

 #new_project_form h5, #show_project h2, h3, #accordion h3, #accordion-assigned h3 {
 	color: #22CB83;
 }

 #show_project p, #accordion p, #accordion ul li, #accordion-assigned p {
 	color: #0494D2;
 	font-style: italic;
 	font-size: 13px;
 }

.sign_up_form, #new_project_form, #show_project, #tasks_index {
	margin-bottom: 8%;
}
.login_form label, span, .sign_up_form label, span, #new_project_form label, span, #show_members label, #new_task_form label, #activity_index label, #edit_activity label, #new_period_form label,  #edit_task_form label, #new_activity_form label, #show_profile label{
	color:#22CB83;
}

.login_form input, .sign_up_form input, #new_project_form .form-control, #new_task_form .form-control, #new_task_form select, #edit_activity .form-control, #new_period_form .form-control, #edit_task_form .form-control, #new_activity_form .form-control {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: #0494D2;
}

.ui-accordion .ui-accordion-header {
	border-radius: 0px;
	border-color: #22CB83;
}

.login_form button, .sign_up_form button, #new_project_form .btn, #show_project button, #show_members .btn, #tasks_index .btn, #new_task_form .btn, #activity_index .btn, #edit_activity .btn, #meetings_index .btn, #new_period_form .btn, #edit_task_form .btn, #new_activity_form .btn, #show_profile .btn {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: #0494D2;
	color: #0494D2;
	font-weight: bold;
	margin-top:1%;
	margin-bottom: 1%;
}

.login_form button:hover, .sign_up_form button:hover, #new_project_form .btn:hover, #show_project button:hover, #show_members .btn:hover, #tasks_index .btn:hover, #new_task_form .btn:hover, #activity_index .btn:hover, #edit_activity .btn:hover, #meetings_index .btn:hover, #new_period_form .btn:hover,  #edit_task_form .btn:hover, #new_activity_form .btn:hover, #show_profile .btn:hover {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: #0494D2;
	color: #22CB83;
	font-weight: bold;
	background: #FFFFFF;
}

.login_form a, a:hover, .sign_up_form a, a:hover, #new_project_form a, a:hover, #show_project a, #show_members a, #tasks_index a, #meetings_index a, #new_period_form a{
	color:#0494D2;
}

 
#show_project a:hover, #show_members a:hover, #tasks_index a:hover, #meetings_index a:hover, #new_period_form a:hover  {
	color: #22CB83;
	text-decoration: none;
}

#show_project .jumbotron {
	border-radius: 0px;
}

.footer {
	background-color:white;
	border-top: solid 3px gray;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
}
.footer #copyright {
    font-size: 14px;
    color: gray;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sidebar #icon {
	color:#22CB83;
}

#sidebar {
	color:#22CB83;
	font-weight: bold;
	font-size: 15px;
}
.jumbotron {
	background-color: white;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: white !important;
}

#error {
	padding: 1px;
}

#error span {
	color: #a94442;
}

#accordion .btn .btn-default a {
	color: #22CB83;
	border-radius: 0px;
}

.ui-widget-content {
	color: #0494D2;
}

.accordion_button {
	border-style: solid;
	border-color: #0494D2;
	background: transparent;
}

.simple_button {
	display: inline-block;
	border-style: solid;
	border-color: #0494D2;
	background: transparent;
}

#meetings_index {
	color: #0494D2;
}

#show_meeting li {
	color: #22CB83;
}

#show_meeting p {
	font-size: 10px;
}

.logout a, .logout a:hover, .logout .glyphicon {
	font-size: 16px;
	color: #0494D2;
	text-decoration: none;
}


