.gray {
	color: gray;
}

html {
}

body {
	margin-bottom: 30px;
	background: image-url('lightback.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: scroll;
}

.logo .img-responsive {
	margin-left: 20%;
	margin-top: 8%;
}

 #new_project_form h5, #show_project h2, h3, #accordion h3  {
 	color: #22CB83;
 }

 #show_project p, #accordion p, #accordion ul li {
 	color: #0494D2;
 	font-style: italic;
 	font-size: 13px;
 }

.sign_up_form, #new_project_form {
	margin-bottom: 8%;
}
.login_form label, span, .sign_up_form label, span, #new_project_form label, span, #show_members label {
	color:#22CB83;
}

.login_form input, .sign_up_form input, #new_project_form .form-control {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: #0494D2;
}

.login_form button, .sign_up_form button, #new_project_form .btn, #show_project button, #show_members .btn {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: #0494D2;
	color: #0494D2;
	font-weight: bold;

}

.login_form button:hover, .sign_up_form button:hover, #new_project_form .btn:hover, #show_project button:hover, #show_members .btn:hover {
	border-radius: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: #0494D2;
	color: #22CB83;
	font-weight: bold;
	background: #FFFFFF;
}

.login_form a, a:hover, .sign_up_form a, a:hover, #new_project_form a, a:hover, #show_project a, #show_members a{
	color:#0494D2;
}

 
#show_project a:hover, #show_members a:hover{
	color: #22CB83;
	text-decoration: none;
}

#show_project .jumbotron {
	border-radius: 0px;
}

.footer {
	background-color:white;
	border-top: solid 3px gray;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
}
.footer #copyright {
    font-size: 14px;
    color: gray;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sidebar #icon {
	color:#22CB83;
}

#sidebar {
	color:#22CB83;
	font-weight: bold;
	font-size: 15px;
}
.jumbotron {
	background-color: white;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: white !important;
}

